<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
{% if message == 'Valid' %}
<h1 align="center">Welcome user</h1>
{% elif message == 'Invalid' %}
<h1 align="center">Sorry! Invalid User</h1>
{% else %}
    <form method="post" action="/index/">
    {% csrf_token %}
        <table align="center" border="2">
            <tr>
                <th colspan="2">User login</th>
            </tr>
            <tr>
                <td>Username</td>
                <td><input type="text" name="name" placeholder="Username"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="Password" placeholder="Password"></td>
            </tr>
            <tr>
                <th colspan="2"><button type="submit">Login</button></th>
            </tr>
        </table>
    </form>
{% endif %}
</body>
</html>